@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap');

:root {
  --theme-font: 'Bai Jamjuree', sans-serif;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --font-size: 20px;
}

body {
  background-image: url(../public/img/weather-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;

}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App #weather__app {
  font-size: var(--font-size);
  font-family: var(--theme-font);
  background-color: #ffffff4f;
  padding: 40px;
  border-radius: 15px;
}

.App #weather__app .headline {
  text-align: center;
  line-height: 1.2;
  margin-bottom: 20px;
}

.App #weather__app .headline span {
    font-size: 52px;
    font-weight: bold;
    color: var(--white);
}

.App #weather__app .headline p {
    color: var(--white);
    font-size: 30px;
}

.App #weather__app .dropdown{
 background-color:var(--white); 
 border-radius: 10px;
}

.App #weather__app .dropdown .select{
 max-height: 300px;
 overflow-y: auto;
}